@model IEnumerable<Restaurant.Models.Cuisine>

@{
    ViewBag.Title = "Cuisine Details";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cuisine</title>

    <style type="text/css">
        table {
            border-collapse: collapse;
            width: 75%;
        }

        th, td {
            text-align: left;
            padding: 8px;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

    </style>
</head>
<body>
    <table align="center">
        <tr>
            <th><h2>Cuisine Details</h2></th>
        </tr>

    </table>
    <table align="center">
        
        <tr>
            <th>S.No.</th>
            <th>RestaurantName</th>
            <th>CuisineName</th>
            <th>Status</th> 
            <th>Edit</th>
            <th>Delete</th>
        </tr>   
        @{
            int i = 0;
        }
        @foreach (var d in Model)
        {
            <tr>

                @{
                    i++;
                }
               <td>@i</td>
                <td>@d.RestaurantName</td>
                <td>@d.CuisineName</td>
               <td>@d.Status</td>
                <td>
                    @Html.ActionLink("EDIT", "EditCusine", new { CuisineID = @d.CuisineID})
                    
                </td>
                <td>
                    @Html.ActionLink("DELETE", "EditCusine", new { CuisineID = @d.CuisineID})
                </td>
               
            </tr>
        }
    </table>
</body>
</html>